{% extends "app/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}




{% block content %}
    <div class="carousel-content">
        <h2 class="animate__animated animate__fadeInDown">Добро пожаловать в ресторанте</h2>
        <p class="animate__animated animate__fadeInUp">За качество отвечаем слово пацана</p>
        <div>
            <a href="{% url 'menu' %}" class="btn-menu animate__animated animate__fadeInUp scrollto">Наше меню</a>
            <a href="{% url 'restaurant_list' %}" class="btn-book animate__animated animate__fadeInUp scrollto">Наши
                рестораны</a>
        </div>

        <style>
            .btn-menu, .btn-book {
                font-weight: 600;
                font-size: 13px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                display: inline-block;
                padding: 12px 30px;
                border-radius: 50px;
                transition: 0.3s;
                line-height: 1;
                color: black;
                border: 2px solid #cda45e;
            }
        </style>

    </div>
    <style>
        .menu-filters li {
            cursor: pointer;
            display: inline-block;
            padding: 8px 12px 10px 12px;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            color: #fff;
            margin-bottom: 10px;
            transition: all ease-in-out 0.3s;
            border-radius: 50px;
            font-family: "Playfair Display", serif;
        }
    </style>


{% endblock %}