{% extends "app/base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block search_bar %}
    <form method="get" action={% url 'menu' %}>
        <input type="text" name="q" placeholder="Искать {{ object_type_for_search }}"/>
    </form>
{% endblock %}


{% block content %}

    <h1>Меню</h1>

    <div class="home-container">

        <div>

            <h3>Типы блюд</h3>
            <hr>

            <div>
                <a href="{% url 'menu' %}" class="btn-menu">Все</a>
            </div>

            {% for dish_type in dish_types %}
                <div>
                    <a href="{% url 'menu' %}?q={{ dish_type.title }}" class="btn-menu">{{ dish_type.title }}</a>
                </div>
            {% endfor %}

        </div>


        <div>
            <div>

                {% if menu_list %}

                    {% for menu_item in menu_list %}

                        <div class="box">
                            <div>
                                <h3>{{ menu_item.dish.title }}............цена = {{ menu_item.price }}</h3>
                                <a href="{% url 'dish' %}?id={{ menu_item.dish.pk }}">подробнее о блюде></a>
                            </div>
                            <p>{{ menu_item.dish.dish_type }}</p>

                        </div>
                    {% endfor %}
                {% else %}
                    <p>Нет записей</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}